[submodule "Tools/asm-differ"]
	path = Tools/asm-differ
	url = https://github.com/3dsdecomp/asm-differ
[submodule "Library/nnsdk"]
	path = Library/nnsdk
	url = https://github.com/3dsdecomp/nnsdk
[submodule "Dissasembly/n3dsdisasm"]
	path = Dissasembly/n3dsdisasm
	url = https://github.com/EstexNT/n3dsdisasm.git
