[submodule "Tools/asm-differ"]
	path = Tools/asm-differ
	url = https://github.com/3dsdecomp/asm-differ

[submodule "Library/auto_nnsdk"]
	path = Library/auto_nnsdk
	url = git@github.com:gamestabled/auto_nnsdk.git
